<div class="row">
  <div class="col">
    <h1>Combobox</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4>Reactive Form Model</h4>
  </div>
  <div class="col-6">
    <form [formGroup]="form">
      <ng6-combo-box [data]="dataList"
                     [propertyName]="'name'"
                     (selectItem)="onSelected($event)"
                     (textChange)="onTextChange($event)"
                     (ngModelChange)="onModelChange($event)"
                     formControlName="d"></ng6-combo-box>
    </form>
    <code>
      Model: {{model | json}}
    </code>
    <div>
      <h5>Event Log</h5>
      <div *ngFor="let log of eventLogs">{{log}}</div>
    </div>
  </div>
</div>
